#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

SHELL := sh -e

D := $(CURDIR)/debian/utmp

TOOLS = $(CURDIR)

%:
	dh ${@}

override_dh_auto_clean:
	dh_auto_clean
	$(MAKE) clean

override_dh_auto_build:
	CFLAGS="$(CFLAGS)" $(MAKE) PREFIX=/usr

override_dh_auto_install:
	$(MAKE) DESTDIR=$(D) PREFIX=/usr GROUP=utmp install

override_dh_fixperms:
	dh_fixperms -Xusr/bin/utmp

